# Canonical identity for this repository.
# Format: Proper Name <proper@email> Commit Name <commit@email>
jianzhnie <jianzhnie@gmail.com> <jianzhnie@126.com>
jianzhnie <jianzhnie@gmail.com> Robin <jianzhnie@126.com>
